* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format(ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Black.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Bold.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-ExtraBold.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-ExtraLight.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Light.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Medium.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Regular.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-SemiBold.ttf') format(ttf),
         url('../fonts/outfit/static/Outfit-Thin.ttf') format(ttf);
    font-weight: 100, 200, 300, 400, 600, 700, 800, 900;
}

:root {
    --fundo: hsl(30, 54%, 90%);
    --fundo2: hsl(30, 18%, 87%);
    --fundo-principal: hsl(0, 0%, 100%);
    --destaque: hsl(24, 5%, 18%);
    --texto: hsl(30, 10%, 34%);
    --titulo: hsl(14, 45%, 36%);
    --titulo-pequeno: hsl(332, 51%, 32%);
    --fundo-pequeno: hsl(330, 100%, 98%);
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--fundo);
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    color: var(--texto);
}

main {
    background-color: var(--fundo-principal);
    width: 375px;
    height: 125em;
}

h2 {
    font-family: 'Outfit';
    font-size: 30px;
    font-weight: 700;
    color: var(--titulo);
    margin-top: 20px;
    margin-left: 30px;
}

main>img.omelete {
    width: 375px;
}

main>div#descricao {
    margin: 30px;
}

main>div#descricao>h1 {
    color: var(--destaque);
    margin-bottom: 14px;
    font-weight: 700;
    font-family: 'Outfit';
}

main>div#descricao>p {
    font-size: 15.8px;
    line-height: 25px;
}

main>div.preparacao {
    background-color: var(--fundo-pequeno);
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}

main>div.preparacao>h3 {
    font-size: 20px;
    color: var(--titulo-pequeno);
    margin: -5px 0px 12px -10px;
}

main>div.preparacao>ul {
    font-size: 17px;
    margin: 10px 10px 0px 30px;
    padding: 0;
    list-style: none; 
}

main>div.preparacao>ul>li {
    line-height: 25px;
    margin-bottom: 10px;
    position: relative;
}

main>div.preparacao>ul>li::before {
    content:"•";
    position: absolute;
    left: -32px;
    font-size: 20px;
    color: var(--titulo-pequeno);
}

main>div.preparacao>ul>li.ponto::before {
    margin-top: 14px;
}

main>div.ingredientes>ul {
    margin: 20px 40px 40px 70px;
    line-height: 30px;
    list-style: none;
    position: relative;
}

main>div.ingredientes>ul>li::before {
    content:"•";
    position: absolute;
    left: -32px;
    font-size: 20px;
    color: var(--titulo);
}

main>div.ingredientes>ul>li.ponto::before {
    margin-top: 14px;
}


main>div.instrucao>ol {
    margin: 20px 50px 0px 70px;
    line-height: 22px;
}

main>div.instrucao>ol>li {
    position: relative;
    margin-bottom: 10px;
    list-style: none;
    counter-increment: li;
}

main>div.instrucao>ol>li::before {
    position: absolute;
    content: counter(li)'.';
    font-weight: 600;
    color: var(--titulo);
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

main>div.nutricao>p {
    margin: 20px 40px 20px 30px;
}

main>div.nutricao>ul {
    margin: 20px 0px 20px 60px;
    list-style: none;
    line-height: 40px;
}

main>div.nutricao>table {
    width: 100%;
    margin: 15px 0px 60px 40px;
    border-collapse: collapse;
    width: 78%;
}

tr {
    border-bottom: 1px solid hsl(0, 0%, 62%);
}

td {
    padding: 12px 20px;
}

td:first-child {
    color: var(--texto);
}

td:last-child {
    color: var(--titulo);
    font-weight: 600;
}

hr {
    margin: 0px 40px;
}